import init.olympus.usb.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug
    write /sys/class/firmware/timeout 5

    export EXTERNAL_STORAGE /storage/sdcard0
    export SECONDARY_STORAGE /storage/sdcard1
    # create mountpoints for storage
    mkdir /storage 0050 system sdcard_r
    mkdir /storage/sdcard0 0000 system system
    mkdir /storage/sdcard1 0000 system system
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard
    symlink /storage/sdcard1 /external_sd
    mkdir /storage/usbdisk0 0000 system system
    mkdir /storage/usbdisk1 0000 system system
    mkdir /storage/usbdisk2 0000 system system
    mkdir /storage/usbdisk3 0000 system system
    mkdir /storage/usbdisk4 0000 system system
    mkdir /storage/usbdisk5 0000 system system
    mkdir /storage/usbdisk6 0000 system system
    mkdir /storage/usbdisk7 0000 system system


on init
    mkdir /pds 0755 root root

on early-boot
    setprop ro.FOREGROUND_APP_MEM 3072
    setprop ro.VISIBLE_APP_MEM 4608
    setprop ro.PERCEPTIBLE_APP_MEM 7200
    setprop ro.HEAVY_WEIGHT_APP_MEM 7200
    setprop ro.SECONDARY_SERVER_MEM 11776
    setprop ro.BACKUP_APP_MEM 11776
    setprop ro.HOME_APP_MEM 11776
    setprop ro.HIDDEN_APP_MEM 17408
    setprop ro.EMPTY_APP_MEM 21000

on fs
    mount_all /fstab.olympus
    write /proc/apanic /dev/block/mmcblk0p9
    exec /system/bin/logwrapper /system/bin/pds_perm_fix.sh

on post-fs-data
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    #directory to hwui blacklist
    mkdir /data/local/hwui.deny 0775 system system

    chown system /data/am2data.db
    chown system /data/am2data.db.meta
    chgrp system /data/am2data.db
    chgrp system /data/am2data.db.meta
# Set the default value for bluedroid_ref
    write /data/tmp/bluedroid_ref 0
    chown system system /data/tmp/bluedroid_ref

    setprop vold.post_fs_data_done 1

on boot
    chown system /dev/aes1750
    chgrp system /dev/aes1750
    chmod 0600 /dev/aes1750

# Adjust Android LMK
    write /sys/module/lowmemorykiller/parameters/minfree 3072,4608,7200,11776,17408,21000

# OSH properties
    setprop sys.SystemMode RM_SM_MOBILE
    setprop sys.FbOwner 3
    setprop sys.DispOwnerLcd 3
    setprop sys.DispOwnerHdmi 1
    setprop sys.AiwFocus 3
    setprop sys.AMActiveTask 2

# Power up/down interface
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type

# Bluetooth MAC address programming
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown bluetooth bluetooth /system/etc/bluetooth
    setprop ro.bt.bdaddr_path "/system/etc/bluetooth/bdaddr"

# Define the BLAN interface
    setprop ro.blan.interface usb0
    chmod 0666 /dev/ttyUSB0

# backlight
    chown system system /sys/class/leds/lcd-backlight/brightness
    chmod 0664 /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/button-backlight/brightness
    chmod 0664 /sys/class/leds/button-backlight/brightness

# flash LED
    chown media camera /sys/class/leds/flash/brightness
    chmod 0660 /sys/class/leds/flash/brightness
    chown media camera /sys/class/leds/flash/strobe
    chmod 0660 /sys/class/leds/flash/strobe
    chown media camera /sys/class/leds/torch/brightness
    chmod 0660 /sys/class/leds/torch/brightness

# notification leds
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/red/blink
    chmod 0664 /sys/class/leds/red/brightness
    chmod 0664 /sys/class/leds/green/brightness
    chmod 0664 /sys/class/leds/blue/brightness
    chmod 0664 /sys/class/leds/red/blink

# Sensor
    chmod 666 /dev/nvhost-ctrl
    chmod 666 /dev/nvhost-display
    chmod 666 /dev/nvhost-dsi
    chmod 666 /dev/nvhost-gr2d
    chmod 666 /dev/nvhost-gr3d
    chmod 666 /dev/nvhost-isp
    chmod 666 /dev/nvhost-mpe
    chmod 666 /dev/nvhost-vi

# Accelerometer
    chmod 664 /sys/class/input/input2/device/rate
    chmod 664 /sys/class/input/input2/device/autosleep
    chown root system /sys/class/input/input2/device/rate
    chown root system /sys/class/input/input2/device/autosleep

# Power management settings
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 216000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1200000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 216000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 1200000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpufreq/interactive/go_maxspeed_load 80

#service fbcp /etc/init.d/start_fbcp.sh
#    class pre_zygote_services
#    user mot_osh
#    group mot_osh
#    oneshot

on property:dev.bootcomplete=1
    setprop ro.webtop.boot 1
    start loadpreinstalls

on property:ro.webtop.boot=1
    exec /system/bin/logwrapper /ubuntu.sh

on property:sys.SystemMode=RM_SM_DOCKED
    exec /osh/etc/init.d/startX.sh

on device-added-/dev/ttyUSB0
    write /sys/devices/platform/tegra-ehci.2/usb2/2-1/power/autosuspend 2
    write /sys/devices/platform/tegra-ehci.2/usb2/2-1/power/level auto

# Modem panic daemon
service mdm_panicd /system/bin/mdm_panicd
    class main
    oneshot

on device-added-/dev/touchpad
# Touchpad
    chmod 660 /sys/class/misc/touchpad
    chown compass compass /sys/bus/i2c/drivers/qtouch-obp-ts/0-004a/irqStatus
    chown mot_tcmd mot_tcmd /dev/touchpad
    start touch

service touch /system/bin/logwrapper /system/bin/touchpad -a
    class main
    user root
    group root
    oneshot

# Ecompass daemon
service akmd8975 /system/bin/akmd8975
    class main
    user compass
    group compass misc input

service wpa_supplicant /system/bin/wpa_supplicant \
    -Dwext -ieth0 -c/data/misc/wifi/wpa_supplicant.conf
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    socket wpa_eth0 dgram 660 wifi wifi
    class main
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

# bugreport is triggered by the VOLUME-DOWN and VOLUME-UP keys
service bugreport /system/bin/dumpstate -d -v -o /data/storage/bugreports/bugreport
    disabled
    oneshot
    keycodes 115 114
#BCM
service hciattach /system/bin/brcm_patchram_plus --enable_hci --enable_lpm \
    --use_baudrate_for_download --baudrate 3000000 --patchram /etc/firmware/BCM4329B1_002.002.023.0757.0780.hcd /dev/ttyHS2
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled

service battd /system/bin/battd
    class main
    socket battdsock stream 0660 mot_accy mot_accy
    user root
    group mot_accy mot_pwric
    oneshot

# bcm dev
on device-added-/dev/tarang
    chmod 666 /dev/tarang

service gadget-qbp-diag /system/bin/tty2ttyd /dev/ttyUSB0 /dev/ttyGS3 0 1024
    oneshot
    disabled

service gadget-qbp-modem /system/bin/tty2ttyd /dev/ttyUSB4 /dev/ttyGS2 0 1024
    oneshot
    disabled

on property:ro.bootmode=bp-tools
    start tcmd
    start gadget-qbp-diag

#FM radio
service fmradio /system/bin/fmradioserver
    class pre-zygote_services
    user system
    group bluetooth net_bt_admin net_raw net_admin misc
    disabled

#Enable DUN and PAN support
service dund_dialup /system/bin/dund --listen --channel=6 --nodetach --dialup
    class post-zygote_services
    group net_bt net_bt_admin
    disabled
    oneshot

service nap /system/bin/sdptool add NAP
    class post-zygote_services
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service del_nap /system/bin/sdptool remove NAP
    class post-zygote_services
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service panu /system/bin/sdptool add PANU
    class post-zygote_services
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service del_panu /system/bin/sdptool remove PANU
    class post-zygote_services
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service napics /system/bin/sh /system/bin/napics.sh
    class post-zygote_services
    user root
    disabled
    oneshot

service btdhcpd /system/bin/dnsmasq -C /system/etc/btpan.conf
    class post-zygote_services
    user root
    disabled
    oneshot
